speedtest-cli
uuid
eel
# opencv-python-headless==4.5.3.56
pyautogui
matplotlib
gTTS
playsound
hugchat
pynput
requests
googletrans==4.0.0-rc1
pyttsx3
SpeechRecognition
pywhatkit
pvporcupine
bs4
opencv-python